@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;500;700;800&family=Lugrasimo&family=Montserrat:wght@200;300;400;600;700&display=swap');
/*font-family: 'Dosis', sans-serif;
font-family: 'Lugrasimo', cursive;
font-family: 'Montserrat', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;500;700;800&family=Lugrasimo&family=Montserrat:wght@200;300;400;600;700&display=swap');


*{
    margin: auto;
    box-sizing: border-box;
    padding: auto;
}

.main{
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/Background.svg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card_info{
    height: 200px;
    width: 450px;
    background: rgba(255,255,255,.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card_info h1{
    font-family: 'Lugrasimo', cursive;
    font-size: 50px;
}
.card_info h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
.card_info p{
    font-family: 'Dosis', sans-serif;
}
.card_form{
    background: rgba(255,255,255,.7);
    height: 200px;
    width: 450px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.card_form h4{
    color: blueviolet;
    font-weight: 200;
}
.input_user{
    display: flex;
    justify-content: center;
    align-items: center;

}
.input_password{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons img{
    width: 20px;
    height: 20px;

}
.icons{
    width: 30px;
    height: 30px;
    padding: 7px;
    background-color: white;
    border-radius: 100%;
    padding-top: 10px;
}

.inputs{
    width: 100px;
    height: 30px;
    margin-left: 15px;
    border: none;
    border-radius: 10px;
    padding-inline: 5px;
}
